body {
  background: url("../img/background.png");
  background-size: 5%;
  background-color: $purple;
}
.wrapper {
  height: 600px;
  width: 100%;
}
.pageContainer {
  height: 800px;
  width: 100%;
}
